body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #f0f0f0;
}
#clickButton:hover{
    background-color: #4CAF50;
    color: white;
    border-radius: 3px;
}

#resetButton:hover{
    background-color: #f44336;
    color: white;
    border-radius: 3px;
}